faster-whisper
sounddevice
mss
Pillow
requests
numpy
pystray
pywin32
torch
pypdf
python-docx
keyboard
customtkinter
psutil
pygetwindow
noisereduce
pyttsx3
edge-tts
pyautogui
pycaw
comtypes
screen-brightness-control
